body{
    background-image: url("Images/sky-news-old-studio.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#head{
    text-align: center;
    font-weight: 900;
    color: black;
    background-color: rgb(180, 175, 175);
    height: 50px;
    text-align: center;
    align-items: center;
    margin-top: -20px;
}
h3{
    padding: 10px;
}
#display1{
    background-color: rgb(180, 175, 175);
}
#display{
    font-weight: 800;
    color: black;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(77, 65, 65, 0.1), 0 0 20px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2);
    background-color:#e85d04
}