html{
    background: url(Slum_talent/Background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
body{
    margin: 50px auto 50px auto;
    background:rgba(207, 197, 197, 0.8);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
}
nav{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1cm;
    align-items: center;
    padding: 20px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
}
#title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
    align-items: center;
}
#about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
    align-items: center;
    background: gray;
    height: 20cm;
}
#slum, #title{
    border-radius: 30px;
}
#services{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background: rgb(177, 119, 119);
    height: 17cm;
    margin: 5px;
    background: url(Slum_talent/slum\ 2.jpg);

}
footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5cm;
    align-items: flex-end;
    padding: 20px;
    margin: 0px;
    color: white;
}
#acqus, #sponsor, #outsource{
    background: gray;
    padding: 20px;
    margin: 2px;
    width: 85%;
    border-radius: 20px;
}
#serve{
    background: rgb(161, 131, 131);
    text-align: center;
    width: 100%;
}
#logo{
    height: 80px;
}
a{
color: black;
text-decoration: none;
color: inherit;
}