.heading{
    display: flex;
    flex-direction: column;
  }
  /*h1{
    align-self: center;
    padding: 20px;
    font-family: Helvetica;
    text-align: center;
    color: white;
    background-color: black;
    width: 30%;
  }*/
  img{
    height: 300px;
    width: 400px;
    float: right;
  }
  span{
    font-size: 24px;
  }
  p{
    font-size: 30px;
    color: white;
    font-family: Comic Sans MS;
    background-color: black;
    padding: 20px;
  }